DATABASE_URL="postgresql://postgres:password@postgres:5432/newsletter"
SECRET_ACCESS_TOKEN="your_access_token"
SECRET_REFRESH_TOKEN="your_refresh_token"
EMAIL_ADMIN="your@email.com"
PASS_KEY="your_app_password"
RABBITMQ_URL="amqp://guest:guest@rabbitmq:5672"